@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Press+Start+2P&display=swap');

/* --- Page Setup --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --landing-bg: #000;
    --landing-text: #FFF;
}

/* --- Landing | Component --- */
.landing-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--landing-bg);
}

.landing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--landing-text);
    font: 400 3em "Press Start 2P", sans-serif;
    user-select: none;
}

.landing-title > h1 {
    transform-origin: top;
    animation: loadLandingTitle 500ms ease;
}

/* Animations */
@keyframes loadLandingTitle {
    from {
        transform: scaleY(0);
    } to {
        transform: scaleY(1);
    }
}