/* --- Page Setup --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --landing-bg: #000;
}

/* --- Landing | Component --- */
.landing-bg {
    width: 100%;
    height: 100vh;
    background: var(--landing-bg);
}